@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
.height-screen-calc {
  height: calc(100vh - 208px);
}

.small-screen-object-position {
  object-position: 90% center;
}
/* added custom class when i use it i call this class */
.red-hat-text-700 {
  font-family: "Red Hat Text", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* this class for styling the card that flips */
.flip-card {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: hsl(345, 95%, 68%);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.09em;
}
/* this design the bottom and top part of the flip */
.top,
.bottom,
.flip-card.flip::before,
.flip-card.flip::after {
  height: 0.75em;
  line-height: 1em;
  padding: 0.25em 0.15em;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.top,
.flip-card.flip::before {
  border-top-left-radius: 0.09em;
  border-top-right-radius: 0.09em;
  border-bottom: 1px solid #1e1e38;
  background-color: #2c2c44;
}
.bottom,
.flip-card.flip::after {
  content: attr(after-content);
  border-bottom-left-radius: 0.09em;
  border-bottom-right-radius: 0.09em;
  display: flex;
  align-items: flex-end;
  background-color: #34364f;
}
.flip-card.flip::before {
  content: attr(before-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: flip-down 250ms ease-in forwards;
  transform-origin: bottom;
}
.flip-card.flip::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: flip-up 250ms ease-out 250ms forwards;
  transform-origin: top;
  transform: rotateX(90deg);
}
/* this is the animation for fliping the bottom and top part  */
@keyframes flip-down {
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes flip-up {
  100% {
    transform: rotateX(0deg);
  }
}
/* custom shadow for the time card */
.custom-shadow {
  -webkit-box-shadow: 0px 15px 4px -1px rgba(26, 26, 34, 0.68);
  -moz-box-shadow: 0px 15px 4px -1px rgba(26, 26, 34, 0.68);
  box-shadow: 0px 15px 4px -1px rgba(26, 26, 34, 0.68);
}
